USE [master]
GO
/****** Object:  Database [PerPlexIdeas]    Script Date: 30-6-2023 05:30:57 ******/
CREATE DATABASE [PerPlexIdeas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PerPlaxIdeas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PerPlaxIdeas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PerPlaxIdeas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PerPlaxIdeas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PerPlexIdeas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PerPlexIdeas]
GO
/****** Object:  Table [dbo].[Ideas]    Script Date: 30-6-2023 05:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ideas](
	[id] [int] NOT NULL,
	[onderwerp] [nvarchar](50) NOT NULL,
	[beschrijving] [nvarchar](max) NOT NULL,
	[userId] [int] NULL,
	[userName] [nvarchar](max) NULL,
	[type] [nchar](10) NULL,
	[beginDatum] [datetime] NOT NULL,
	[eindDatum] [datetime] NOT NULL,
	[categories] [nvarchar](max) NULL,
	[aanmaakDatum] [timestamp] NOT NULL,
 CONSTRAINT [PK_IdeasTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ideas] ADD  CONSTRAINT [DF_IdeasTable_type]  DEFAULT (N'Uitje') FOR [type]
GO
USE [master]
GO
